PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:5000

# MongoDB Connection String (Atlas / Local MongoDB)
MONGODB_URI=mongodb+srv://shantodev1670_db_user:PsftPU5JBbuYZJGh@cluster0.mongodb.net/qrcode_platform?retryWrites=true&w=majority

# Firebase Admin SDK Configuration (for production token verification)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
